# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
# db.sqlite3 (keeping this so your dummy data goes to Render for the presentation!)
media/
staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp
*.swo
